@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    top: 0;
    margin: 0;

}

.header {
    background-color: rgb(58, 58, 159);
    color: white;
    padding: 15px;


}

.head1 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.hamburger {

    position: absolute;

    margin-left: 150px;
    display: none;

}

.icons {

    position: absolute;
    margin-left: 1300px;
    margin-top: 25px;


    /* padding: 3px 30px; */
    margin-right: 20px;
    float: right;

}

i {
    float: right;
    padding-right: 20px;
    padding-top: 0px;

}

ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;

text-decoration: none;
  
    float: right;
    padding-top: 20px;

}

li {
    margin-right: 40px;
    padding: 20px;
    color: rgb(77, 77, 172);
    font-size: 18px;
    list-style-type: none;
   

}
li a{
    text-decoration: none;

}
li a:hover{
    color: black;
}

.content {
    position: absolute;
    margin-top: 350px;
    margin-left: 50px;
}

.content1 {
    color: red;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;

}


.content2 {
    color: rgb(35, 35, 111);
    font-size: 60px;
    font-weight: 100px;
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: red;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

}

.business {
    position: relative;
    float: right;
    margin-left: 800px;
    margin-top: 50px;
    margin-right: 50px;
}

.contact {
    background-color: red;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    margin-right: 50px;

}

@media only screen and (max-width:767px) {
    .header{
        max-width: 500px;
    }
    img {
        margin-left: 70px;

    }

    ul {
        flex-direction: column;
        margin-left: 50px;
        float: left;
        align-items: center;

    }

    .business {
        display: none;
    }

    .content {
        margin-top: 600px;
    }

    .icons {
        display: none;
    }

    .hamburger {

        display: block;
        float: left;
        font-size: 25px;
        margin-top: 16px;
        margin-left: 270px;
        color: white;
    }
}